<h1>Seja bem-vindo!</h1>
<ul>
    <li>
        <a href="/types">Tipos</a>
        <a href="/contacts">Contatos</a>
        <a href="/addresses">Endereços</a>
        <a href="/phones">Telephones</a>
    </li>
</ul>